.wrapperMain {
    width: 100%;
    max-width: 1120px;
    min-height: 200px;
    border: 2px solid rgb(32, 32, 32);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    background-image: url(../images/1675491941_top-fon-com-p-fon-derevyannii-dlya-prezentatsii-168.png);
    background-repeat: repeat;
    background-size: 100%;
}

.transparency {
    opacity: .0;
}

.header {
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/1614403197_51-p-temnaya-shkola-fon-60.jpg);
    background-size: 100%;
    background-repeat: repeat;
    border-radius: 10px;
}

.headerTitle {
    margin-left: 50px;
    font-family: "Caveat Bold";
    color: white;
    font-size: 50px;
}

.headerTime {
    margin-right: 50px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Caveat Bold";
    color: white;
    font-size: 50px;
}

.main {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.cardWrap {
    width: 30%;
    min-height: 100%;
    min-height: 350px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../images/1675491941_top-fon-com-p-fon-derevyannii-dlya-prezentatsii-168-2.png);
    background-size: 70%;
    background-repeat: repeat;
    position: relative;
    z-index: 2;
}

.cardWrapTodoShadow {
    position: absolute;
    z-index: 1;
    background-color: rgb(138, 255, 103);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    opacity: 0.1;
}

.cardWrapProgShadow {
    position: absolute;
    z-index: 1;
    background-color: rgb(240, 255, 103);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    opacity: 0.1;
}

.cardWrapDoneShadow {
    position: absolute;
    z-index: 1;
    background-color: rgb(138, 222, 255);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    opacity: 0.1;
}

.wrapCardTitle {
    width: 98%;
    height: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url(../images/1671168379_3-68.jpg);
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    border: 3px solid black;
}

.wrapTodoTitleShadow {
    position: absolute;
    z-index: 1;
    background-color: rgb(138, 255, 103);
    width: 100%;
    height: 50px;
    border-radius: 5px;
    opacity: 0.2;
}

.wrapProgTitleShadow {
    position: absolute;
    z-index: 1;
    background-color: rgb(240, 255, 103);
    width: 100%;
    height: 50px;
    border-radius: 5px;
    opacity: 0.2;
}

.wrapDoneTitleShadow {
    position: absolute;
    z-index: 1;
    background-color: rgb(138, 222, 255);
    width: 100%;
    height: 50px;
    border-radius: 5px;
    opacity: 0.2;
}

.cardTitle {
    margin-left: 20px;
    font-family: 'Caveat Medium';
    font-size: 20px;
    color: black;
    position: relative;
    z-index: 2;
}

.cardTitleKol {
    margin-right: 20px;
    color: black;
    font-weight: 600;
    font-family: 'Caveat Medium';
    font-size: 25px;
    position: relative;
    z-index: 2;
}

.wrapBut {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    color: black;
    font-weight: 600;
    border: 3px solid black;
    position: relative;
    z-index: 2;
    background-color: transparent;
}

.wrapBut-Prog {
    border: none;
}

.wrapButton {
    background-image: url(../images/1671168379_3-68.jpg);
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 2;
}

.wrapButtonProg {
    width: 100%;
    height: 50px;
    background-image: none;
}

.wrapTodoButShadow {
    background-color: rgb(138, 255, 103);
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 1;
    opacity: 0.2;
}

.wrapDoneButShadow {
    background-color: rgb(138, 222, 255);
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 1;
    opacity: 0.2;
}

.wrapBut-Todo {
    font-family: 'Caveat Bold';
    font-size: 25px;
}

.wrapProgBut {
    display: none;
}

.wrapBut-Done {
    font-family: 'Caveat Bold';
    font-size: 25px;
}

.cardWish {
    display: none;
    width: 60%;
    max-width: 700px;
    height: 350px;
    background-image: url(../images/1614403197_51-p-temnaya-shkola-fon-60.jpg);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.openCardWish {
    display: flex;
}

.cardWishWrap {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.cardWishTitle {
    width: 40%;
    height: 30px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    font-weight: 800;
    text-align: center;
    font-family: 'Caveat Bold';
    font-size: 20px;
}

.cardWishTitle:hover {
    box-shadow: 10px 5px 5px white;
}

.cardWishDescript {
    width: 97%;
    height: 130px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    font-weight: 800;
    text-align: center;
    font-family: 'Caveat Bold';
    font-size: 20px;
    resize: none;
}

.cardWishDescript:hover {
    box-shadow: 10px 5px 5px white;
}

.cardWishFooter {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wishFooterSelect {
    width: 30%;
    height: 100%;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
    color: white;
    font-family: 'Caveat Bold';
    font-size: 20px;
}

.wishFooterSelect:hover {
    box-shadow: 10px 5px 5px white;
}

.option {
    background-color: rgba(0, 0, 0, 0.877);
}

.wishFooterBut {
    width: 20%;
    height: 100%;
    border-radius: 45px;
    border: 2px solid white;
    color: white;
    font-family: 'Caveat Bold';
    font-size: 20px;
    background-color: transparent;
}

.wishFooterBut:hover {
    box-shadow: 10px 5px 5px white;
}

.cardDesk {
    width: 100%;
    min-height: 150px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cardWrapOnDesk {
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    margin: 5px 0 5px 0;
    border: 0.3px solid black;
    border-radius: 5px;
}

.cardOnDeskHeader {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 90%;
}

.cardOnDeskHeaderButWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardOnDeskHeaderTitle {
    width: 90%;
    font-family: 'Caveat Medium';
    font-size: 25px;
    color: black;
    font-weight: 800;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardOnDeskHeaderBut {
    font-family: 'Caveat Medium';
    font-size: 15px;
    color: black;
    font-weight: 800;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 15px;
}

.cardOnDeskHeaderBut:hover {
    box-shadow: 3px 5px 5px;
}

.cardOnDeskMain {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cardOnDeskMainDescr {
    width: 80%;
    height: 80px;
    font-family: 'Caveat Medium';
    font-size: 20px;
    color: black;
    font-weight: 400;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.cardOnDeskMainDescr:hover {
    text-decoration: overline;
}

.cardOnDeskMainBut {
    width: 30px;
    height: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: transparent;
}

.cardOnDeskMainBut:hover {
    box-shadow: 3px 5px 5px;
}

.cardOnDeskFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.cardOnDeskFooterUser {
    font-family: 'Caveat Medium';
    font-size: 20px;
    color: black;
    font-weight: 400;
}

.cardOnDeskFooterTime {
    font-family: 'Caveat Medium';
    font-size: 20px;
    color: black;
    font-weight: 400;
}

.cardWrapProg {
    background-color: rgb(240, 255, 103);
}

.winWarningTodo {
    display: none;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-image: url(../images/1614403197_51-p-temnaya-shkola-fon-60.jpg);
}

.winWarningTodoOpen {
    display: flex;
}

.winWarningTodoWord {
    font-size: 40px;
    font-weight: 600;
    color: white;
    font-family: 'Caveat Bold';
}

.winWarningTodoText {
    color: white;
    font-family: 'Caveat Bold';
    font-size: 20px;
    width: 60%;
    text-align: center;
}

.winWarningTodoButWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
}

.winWarningTodoBut {
    width: 40%;
    height: 40%;
    border: 2px solid white;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-family: 'Caveat Bold';
    background-color: transparent;
}

.winWarningTodoBut:hover {
    box-shadow: 10px 5px 5px white;
}

.cardWrapTodo-1 {
    background-color: rgb(138, 255, 103);
}

.cardWrapTodo-2 {
    background-color: rgb(255, 103, 103);
}

.cardWrapTodo-3 {
    background-color: rgb(255, 171, 103);
}


.close {
    display: none;
}

.cardWrapDone {
    background-color: rgb(138, 222, 255);
}

.cardInfo {
    width: 80%;
    max-width: 700px;
    min-height: 500px;
    background-image: url(../images/1614403197_51-p-temnaya-shkola-fon-60.jpg);
    border-radius: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}

.cardInfoOpen {
    display: flex;
}

.cardInfoTitle {
    text-align: center;
    font-weight: 800;
    color: white;
    font-family: 'Caveat Bold';
    font-size: 50px;
    margin-top: 0;
}

.cardInfoDescr {
    text-align: left;
    color: white;
    font-family: 'Caveat Bold';
    font-size: 30px;
    width: 80%;
    margin: 0;
}

.cardInfoFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.cardInfoFooterUser {
    color: white;
    font-family: 'Caveat Bold';
    font-size: 30px;
}

.cardInfoFooterTime {
    color: white;
    font-family: 'Caveat Bold';
    font-size: 30px;
    text-align: center;
}

.cardInfoButWrap {
    width: 90%;
    display: flex;
    justify-content: end;
    margin-top: 15px;
}

.cardInfoBut {
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 15px;
    text-align: center;
    background-color: transparent;
}

.cardInfoBut:hover {
    box-shadow: 3px 3px 3px white;
}

@font-face {
    font-family: "Caveat Bold";
    src: url("../fonts/Caveat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Caveat Medium";
    src: url("../fonts/Caveat-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Caveat Regular";
    src: url("../fonts/Caveat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Caveat SemiBold";
    src: url("../fonts/Caveat-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}